<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>UserCtl</servlet-name>
		<display-name>UserCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.UserCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserCtl</servlet-name>
		<url-pattern>/ctl/UserCtl</url-pattern>
	</servlet-mapping>
	
   
	<!-- <servlet>
		<servlet-name>WelcomeCtl</servlet-name>
		<display-name>WelcomeCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.WelcomeCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RoleListCtl</servlet-name>
		<display-name>RoleListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.RoleListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserCtl</servlet-name>
		<display-name>UserCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.UserCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserRegistrationCtl</servlet-name>
		<display-name>UserRegistrationCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.UserRegistrationCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CollegeCtl</servlet-name>
		<display-name>CollegeCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.CollegeCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CollegeListCtl</servlet-name>
		<display-name>CollegeListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.CollegeListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentCtl</servlet-name>
		<display-name>StudentCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.StudentCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentListCtl</servlet-name>
		<display-name>StudentListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.StudentListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ForgetPasswordCtl</servlet-name>
		<display-name>ForgetPasswordCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.ForgetPasswordCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserListCtl</servlet-name>
		<display-name>UserListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.UserListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CourseCtl</servlet-name>
		<display-name>CourseCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.CourseCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CourseListCtl</servlet-name>
		<display-name>CourseListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.CourseListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FacultyCtl</servlet-name>
		<display-name>FacultyCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.FacultyCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FacultyListCtl</servlet-name>
		<display-name>FacultyListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.FacultyListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyProfileCtl</servlet-name>
		<display-name>MyProfileCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.MyProfileCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MarksheetCtl</servlet-name>
		<display-name>MarksheetCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.MarksheetCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MarksheetListCtl</servlet-name>
		<display-name>MarksheetListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.MarksheetListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubjectCtl</servlet-name>
		<display-name>SubjectCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.SubjectCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubjectListCtl</servlet-name>
		<display-name>SubjectListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.SubjectListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetMarksheetCtl</servlet-name>
		<display-name>GetMarksheetCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.GetMarksheetCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TimeTableCtl</servlet-name>
		<display-name>TimeTableCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.TimeTableCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TableTableListCtl</servlet-name>
		<display-name>TableTableListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.TableTableListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangePasswordCtl</servlet-name>
		<display-name>ChangePasswordCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.ChangePasswordCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MarksheetMeritListCtl</servlet-name>
		<display-name>MarksheetMeritListCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.MarksheetMeritListCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ErrorCtl</servlet-name>
		<display-name>ErrorCtl</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.ErrorCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<display-name>FrontController</display-name>
		<description></description>
		<servlet-class>in.co.sunrays.proj4.controller.FrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WelcomeCtl</servlet-name>
		<url-pattern>/WelcomeCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RoleListCtl</servlet-name>
		<url-pattern>/ctl/RoleListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserCtl</servlet-name>
		<url-pattern>/ctl/UserCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRegistrationCtl</servlet-name>
		<url-pattern>/UserRegistrationCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CollegeCtl</servlet-name>
		<url-pattern>/ctl/CollegeCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CollegeListCtl</servlet-name>
		<url-pattern>/ctl/CollegeListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentCtl</servlet-name>
		<url-pattern>/ctl/StudentCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentListCtl</servlet-name>
		<url-pattern>/ctl/StudentListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgetPasswordCtl</servlet-name>
		<url-pattern>/ForgetPasswordCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserListCtl</servlet-name>
		<url-pattern>/ctl/UserListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CourseCtl</servlet-name>
		<url-pattern>/ctl/CourseCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CourseListCtl</servlet-name>
		<url-pattern>/ctl/CourseListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyCtl</servlet-name>
		<url-pattern>/ctl/FacultyCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyListCtl</servlet-name>
		<url-pattern>/FacultyListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyProfileCtl</servlet-name>
		<url-pattern>/ctl/MyProfileCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MarksheetCtl</servlet-name>
		<url-pattern>/ctl/MarksheetCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MarksheetListCtl</servlet-name>
		<url-pattern>/ctl/MarksheetListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubjectCtl</servlet-name>
		<url-pattern>/SubjectCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubjectListCtl</servlet-name>
		<url-pattern>/ctl/SubjectListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetMarksheetCtl</servlet-name>
		<url-pattern>/ctl/GetMarksheetCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TimeTableCtl</servlet-name>
		<url-pattern>/ctl/TimeTableCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TableTableListCtl</servlet-name>
		<url-pattern>/ctl/TableTableListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePasswordCtl</servlet-name>
		<url-pattern>/ctl/ChangePasswordCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MarksheetMeritListCtl</servlet-name>
		<url-pattern>/ctl/MarksheetMeritListCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ErrorCtl</servlet-name>
		<url-pattern>/ErrorCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/FrontController</url-pattern>
	</servlet-mapping>
	
 -->
</web-app>
